:root {
--amount-text: #e07115;
--app-name-text: #e07115;
--bg: white;
--button-bg-important: rgb(245, 177, 82);
--button-bg: rgba(246,126,13,1);
--button-bg-danger: #E10505;
--button-border-color: #ddd;
--button-font-size: 18px;
--button-height: 48px;
--button-radius: 8px;
--button-text-important:white;
--button-text: white;
--date-text: #999;
--dialog-header-text: white;
--emoji-nav-text-selected: #333;
--emoji-nav-text: #999;
--error-color: #E10505;
--float-button-bg: var(--button-bg);
--float-button-text: white;
--input-border-color: rgba(246,126,13,1);
--input-min-height: 48px;
--input-radius: var(--button-radius);
--input-shadow: rgba(0,0,0,0.25);
--list-tag-text: #333;
--list-amount-text: var(--amount-text);
--list-time-text: var(--date-text);
--inputpad-button-bg: white;
--main: rgba(246,126,13,1);
--navbar-bg-end: var(--welcome-bg-end);
--navbar-bg-start: var(--welcome-bg-start);
--navbar-text: white;
--overlay-bg: white;
--overlay-mask-bg: rgba(0, 0, 0, 0.5);
--overlay-user-bg:  rgba(246,126,13,1);;
--overlay-user-text: white;
--tabs-indicator-bg: rgba(255, 255, 255, 0.5);
--tag-bg: #EFEFEF;
--text: #333;
--top-safe-area-height: 24px;
--total-bg: #252A43;
--total-text: white;
--total-income: #FE7275;
--total-expenses: #53A867;
--transition-duration: 0.5s;
--van-overlay-z-index: 64;
--welcome-bg-end: rgb(247, 210, 162);
--welcome-bg-start: rgba(246,126,13,1);
--welcome-nav-gap: 8px;
--welcome-nav-height: 64px;
--welcome-text:white;
--welcome1-card-bg:white;
--z-index-bottom-nav: 8; 
--z-index-overlay: 16;
--z-index-navbar: 32;
}